@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

body {
  margin: 0;
  padding-bottom: 6rem;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(52, 170, 16, 0.3);
  text-align: center;
  min-height: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.rtl {
  direction: rtl
}

.box {
  width: 280px;
  height: 340px;
}

.box-marker {
  height: 10px;
  max-height: 10px;
  display: inline-block;
}

.vocab {
  box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.vocab .description {
  flex: 1;
  padding-left: 25px;
  font-size: 32px;
}